.Card-Rear-Cont {
    width: 450px;
    height: 200px;
    padding: 10px;
    font-weight: 900;
    border: 15px solid #7e7e7e;
    background-color: #eeeeee;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    
    
}

.Card-Rear-H2 {
    margin-block: auto;
}

.Card-Rear-Button {
    width: 100%;
    height: 50px;
    font-weight: 900;
    font-size: 1.1rem;
    white-space: nowrap;
    border: 1px solid #7e7e7e;
}

@media only screen and (max-width: 750px) {
    .Card-Rear-Cont {
        width: 90%;
        height: 200px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1500px) {
    .Card-Rear-Cont {
        width: 90%;
    }
}

@media only screen and (min-width: 1500px) {
    .Card-Rear-Cont {
        width: 90%;
    }
}