.GameArea-Cont {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    
}

.GameArea-Cards {
    display: flex;
    height: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.GameArea-Scores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    
}

.Score-Sq {
    height: auto;
    width: auto;
    padding: 10px;
    margin-inline: 10%;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-wrap: nowrap;
}

.Arrow {
    width: 200px;
    height: 200px;
}

.GameArea-Commentary {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    max-width: 40%;
}   

.GameArea-Middle-Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    
}

.Last-Result {
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #7e7e7e;
    padding: 10px;
}

@media only screen and (max-width: 750px) {
    .GameArea-Cont {
        width: 90%;
        height: auto;
    }
    
    .GameArea-Cards {
        flex-direction: column;
    }

    .Rotate-Arrow {
        transform: rotate(90deg);
    }

    .GameArea-Middle-Flex {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .GameArea-Scores {
    margin-top: 400px;
    }
    
    .Reset-Button {
        margin-top: 75px;
    }
    
    .Game-Finished-Card {
        border: 15px solid #7e7e7e;
        width: 90vw;
        height: 300px;
        padding: 10px;
        font-weight: 900;
        background-color: #eeeeee;
        border-radius: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
    }
    
    @media only screen and (max-width: 1500px) {
        .Game-Finished-Card {
            max-width: 1500px;
        }
    }
}